@inject IJSRuntime JSRuntime

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="wwwroot/app.css" />
    <link rel="stylesheet" href="SeamlessEscapesBlazor.styles.css" />
    <link rel="icon" type="image/png" href="seamless_escapes.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    @code {
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                // Load firebaseInit.js after the Blazor components are rendered
                await JSRuntime.InvokeVoidAsync("loadScript", "firebaseInit.js");
            }
        }
    }
</body>

</html>
