@page "/"

<div class="body-background">
 

    <EditForm Model="@bookingRequest">
        <div class="form-group">
            <label for="departure">Departure Date:</label>
            <InputDate id="departure" @bind-Value="bookingRequest.DepartureDate" />
        </div>
        <div class="form-group">
            <label for="arrival">Arrival Date:</label>
            <InputDate id="arrival" @bind-Value="bookingRequest.ArrivalDate" />
        </div>
        <div class="form-group">
            <label for="source">Source City:</label>
            <InputText id="source" @bind-Value="bookingRequest.SourceCity" placeholder="Leaving from" />
        </div>
        <div class="form-group">
            <label for="destination">Destination City:</label>
            <InputText id="destination" @bind-Value="bookingRequest.DestinationCity" placeholder="Going to" />
        </div>
        <div class="form-group">
            <label for="people">Number of People:</label>
            <InputNumber id="people" @bind-Value="bookingRequest.NumberOfPeople" />
        </div>
        <div class="form-group">
            <label for="transport">Mode of Transport:</label>
            <InputSelect id="transport" @bind-Value="bookingRequest.TransportMode">
                <option value="Flight">Flight</option>
                <option value="Road">Road</option>
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="interests">Interests:</label>
            <InputText id="interests" @bind-Value="bookingRequest.Interests" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>


@code {
    BookingRequest bookingRequest = new BookingRequest();

    public class BookingRequest
    {
        public DateTime DepartureDate { get; set; } = DateTime.Now;
        public DateTime ArrivalDate { get; set; } = DateTime.Now;
        public string SourceCity { get; set; }
        public string DestinationCity { get; set; }
        public int NumberOfPeople { get; set; }
        public string TransportMode { get; set; }
        public string Interests { get; set; }
    }
}
