<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/seamless_escapes.png" alt="Logo" style="height: 30px; margin-right: 10px;" />
            SeamlessEscapes
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Plan Trip
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Flights">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Flights
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hotels">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Hotels
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Activity">
                <span class="bi bi-activity-fill-nav-menu" aria-hidden="true"></span> Activities
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about-us">
                <span class="bi bi-person-plus-fill-nav-menu" aria-hidden="true"></span> About Us
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>
</div>
